<article class="post h-entry">
  <header class="post-header">
    <h1 class="p-name">Clarence Clarity</h1>
    <div class="info-container">
      <p class="post-date dt-published">April 3, 2026</p>
      <p class="post-lead p-summary">The 21st century's best experimental pop artist, probably.</p>
    </div>
  </header>
  <hr />

  <section class="e-content">
    <section id="intro" aria-labelledby="h-intro">
      <h2 id="h-intro" class="nth-heading">Who?</h2>
      <p>
        Adam Mark Crisp, which you might know as <q><cite>Clarence Clarity</cite></q
        >, has been releasing avant-garde pop since 2012. His no compromises production choices, catchy hooks, balanced
        use of vocal effects such as pitch and autotune, and poetic word choice, make him, in my opinion, the 21st
        century's best experimental pop artist.
      </p>
      <br />
    </section>

    <section id="no-now" aria-labelledby="h-no-now">
      <h2 id="h-no-now" class="nth-heading">No Now (2015)</h2>
      <p>
        The record that got me into CC was <q><cite>No Now</cite></q
        >, a cyclical concept album, full of outlandish production choices, from the garbled vocal chops in
        <q><cite>Let's Shoot Up</cite></q> to represent heroin addiction and use, to the whispers and coordinates in
        <q><cite>Tathāgatagarbha</cite></q
        >, a seemingly silent track, what you might skip over as an interlude, but that succinctly hides a meaning, one
        that <a class="source" href="https://genius.com/8687247">not even Genius contributors have figured out yet</a>.
        And this album was released in 2015.<br /><br />
        In <q><cite>No Now</cite></q
        >, CC wades through religious trauma, substance addiction, manic episodes, conspiracy theories, incestuous
        fantasies, porn use and any thought cursing his mind. His clear music production prowess is front and centre,
        making some tracks sound angelic and beautiful, some disgusting and headache inducing. Unlike his future
        projects, he does not hold back. While this might make the album hard to stomach for some, it makes for a great
        experience, with plenty of memorable moments.<br /><br />
        <q><cite>Buck-Toothed Particle Smashers</cite></q
        >, <q><cite>Off My Grid</cite></q> and
        <q
          ><cite>Cancer<sup>™</sup> in the Water</cite></q
        >
        stand out to me as some of the highlights in this album.
      </p>
      <br />
    </section>

    <section id="leave-earth" aria-labelledby="h-leave-earth">
      <h2 id="h-leave-earth" class="nth-heading">LEAVE EARTH (2016&ndash;2018)</h2>
      <p>
        The now recalled digital exclusive <q><cite>LEAVE EARTH</cite></q> (2016-2018) is a compilation project that
        contains scraps and alternate versions of what became <q><cite>THINK: PEACE</cite></q
        >. This arduous development process gave fruit to an experimental, still fresh with new ideas, pop record, that
        is accessible to most people.<br /><br />
        From <q><cite>LEAVE EARTH</cite></q
        >, I really enjoyed the more introspective tracks, like <q><cite>Untrust in Us Together</cite></q> and
        <q><cite>Bipolar Rainbows</cite></q
        >. As for all the alternate versions of tracks that got released in <q><cite>THINK: PEACE</cite></q
        >, I struggle to understand why anyone would prefer the <q><cite>LEAVE EARTH</cite></q> cuts.<br /><br />
        This project has a hint of hip-hop sprinkled through it, with tracks featuring <q>A. J. Crew</q> and
        <q>Shadi</q>. I quite enjoyed <q><cite>Rafters</cite></q
        >! Its chorus got stuck in my head, even if A. J.'s vocal performance is a bit lacking. From this song, we get
        the <q>On some workout shit</q> sample that is reused throughout <q><cite>LEAVE EARTH</cite></q> and
        <q><cite>THINK: PEACE</cite></q
        >.
      </p>
      <br />
    </section>

    <section id="think-peace" aria-labelledby="h-think-peace">
      <h2 id="h-think-peace" class="nth-heading">THINK: PEACE (2018)</h2>
      <figure>
        <blockquote>
          <p
            ><q
              >THE SINS OF OUR FATHERS<br />
              THEY START TO ADD UP<br />
              UNDRESS TO OUR CURSES<br />
              AND FORGET ME NOTS</q
            >
          </p>
        </blockquote>
        <figcaption>&mdash; Clarence Clarity</figcaption>
      </figure>
      <p>
        <q><cite>THINK: PEACE</cite></q> is, maybe not a master:piece, but a great crash course into CC's world! There's
        a lot of romantic pain being expressed in these 11 tracks, in concrete expressions and openness about the nature
        of these relationships. CC admits to not being present, begging and yearning for connection, and on
        <q><cite>Tru(e) Love</cite></q> he admits one of those relationships was probably long distance or online aided.
        He also opens up on all the troubles a relationship can entail, from feeling cheated on, to being afraid of
        getting left behind. CC also seems to fight with himself over how attached to his partner he is!<br /><br />
        The production is, as always, top notch, with a lot of experimentation and a good balance between accessibility
        and avant-garde. The use of vocal effects is more restrained than in his previous record, which, along with the
        simpler vocabulary, and lyrics no longer veiled behind poetic expressionism, makes the vocals easier to
        understand and the songs more catchy. I enjoy most songs on this record. The mix of sparkly, mellow and gritty
        textures really makes the entire project pop.<br /><br />
      </p>
      <br />
    </section>

    <section id="vanishing-act" aria-labelledby="h-vanishing-act">
      <h2 id="h-vanishing-act" class="nth-heading">VANISHING ACT I & II (2021&ndash;2024)</h2>
      <p>
        To me, <q><cite>VANISHING ACT I: NO NOUNS</cite></q> feels like a promotional release for his music production
        courses&hellip; as opposed to the latter <q><cite>VANISHING ACT II: ULTIMATE REALITY</cite></q> which contains
        quite a few polished tracks worthy of attention, of which my favourite is
        <q><cite>The Greatest Living Musician, Found Dead</cite></q
        >, a song about himself, a bipolar musician. Concept that he has explored in plenty tracks at this point, but
        with a refreshing, self-aware take.<br /><br />
        You can tell that his style has evolved over the years, and I believe he still has room to innovate and release
        yet another classic record. So, tap in when you can! To his past, and future releases.
      </p>
      <br />
    </section>
  </section>
  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
</article>
