<article class="post h-entry">
  <header class="post-header">
    <h1 class="p-name">Music, art</h1>
    <div class="info-container">
      <p class="post-date dt-published">September 3, 2026</p>
      <p class="post-lead p-summary">Space intentionally left not blank.</p>
    </div>
  </header>
  <hr />

  <section class="e-content">
    <section id="post" aria-labelledby="p-name">
      <p>
        In an abstract sense, I like music as a medium more than music itself.<br />
        As with all art, to me it feels worthless if it's not telling a story.
      </p>
      <br />

      <p>
        <q>Journey</q> is my favorite word to describe it.<br />
        <q><cite>hypochondriac</cite></q> by brakence is, despite the superficial appearances, a concept album.<br />
        The portrayal of a psychedelic trip, rich with melancholy, mania, psychosis, depression and ego death scenes.<br />
        It is a play, and some if not most of it is related or expressing Randy's real life, but in a much more refined
        way than the previous punk2.<br />
        And that's not just on a production and lyricism standpoint, but the patchwork of references, supernatural
        entities, and everything portrayed within it.
      </p>
      <br />

      <p>
        It is art.<br /><br />
        The same way Hip Hop is art, when people rap about stories, real or not, when they chop samples near and dear to
        them, creating a collage and assigning them new meanings. It can also be samples that they dug up from the
        crates, be it to pay homage or out of necessity.
      </p>
      <br />

      <p>
        From a breakup song to a DJ set, the artist is someone with an internal struggle, the desire to create, to
        portray their story, their struggles.
      </p>
      <br />

      <p>
        Yes. DJs and party music are art too.<br />
        As are songs that don't have lyrics, or that don't overly express the artist's story.<br />
        Sometimes art is fun, excess, experimentation, expression.<br />
        Pop is art, love songs are art, disco is art, every genre other than country is art!<br />
      </p>
      <br />

      <p>
        The line between art and product seems to be shrinking these days.<br />
        Storytelling, artist background, struggle, are often no longer considered when evaluating music, and the same
        goes for other mediums.<br />
        The amount of people who are able to create art is increasing, but the amount of people who are able to
        appreciate it is decreasing.<br />
        When all that's cared for is a fleeting moment, a catchy hook, a TikTok trend, a meme, a soundbite,
        monetization, what does that leave in us?<br /><br />
        Is art just what it makes us feel, how we perceive it, or are the above criteria just as important, if not more
        so?<br />
        In a world where everything can be printed, duped, imitated, soullessly so, a split arises in how we assign
        value to art.
      </p>
      <br />

      <p>
        The material world might need background music for stores and cheap illustrations for advertisements, painting
        that appreciate in value and cost more than houses, but our souls need art.<br />
        Everybody needs to find that one album, book, painting, show, story, that resonates with them, that is a
        catalyst for introspection, inspiration, growth.<br />
        When you find that feeling, and you know it if you've felt it, you know why art is a necessity, and not a
        luxury.
      </p>
      <br />

      <figure>
        <img
          src="https://breadandpuppet.org/wp-content/uploads/cheap-art-manifesto.png"
          alt="the WHY CHEAP ART? manifesto
          PEOPLE have been THINKING too long that
          ART is a PRIVILEGE of the MUSEUMS & the
          RICH. ART IS NOT BUSINESS !
          It does not belog to banks & fancy investors
          ART IS FOOD . You cant EAT it BUT if FEEDS
          you. ART has to be CHEAP & available to
          EVERYBODY . It needs to be EVERYWHERE
          because it is the INSIDE of the
          WORLD.

          ART SOOTHES PAIN !
          Art wakes up sleepers !
          ART FIGHTS AGAINST WAR & STUPIDITY !
          ART SINGS HALLELUJA !
          ART IS FOR KITCHENS !
          ART IS LIKE GOOD BREAD!
          Art is like green trees!
          Art is like white clouds in blue sky !
          ART IS CHEAP !
          HURRAH!

          Bread & Puppet Glover, Vermont, 1984"
          width="100%" />
        <figcaption
          ><a href="https://breadandpuppet.org/cheap-art" target="_blank" rel="noopener noreferrer"
            >Cheap Art Manifesto</a
          ><br />Bread &amp; Puppet Theater, 1984 &mdash;
          <a href="https://creativecommons.org/licenses/by-nc-nd/3.0/" target="_blank" rel="noopener noreferrer"
            >CC BY-NC-ND 3.0</a
          ></figcaption
        >
      </figure>
      <br />

      <p>
        To me, art is a plea to belong, to be seen, to be understood.<br />
        A desire that can turn into curse, unrealized, nagging at us, trying our best to express ourselves. A desire
        that can fade away, turn into talent to be exploited for a quick buck, or perhaps livelihood.<br />
        I stand with the definition of art where the artist's story isn't secondary or a footnote in the plaque next to
        a painting in a museum, but an integral key of reading held within the work itself.
      </p>
      <br />

      <p>
        Art isn't for everybody, it's by people with feelings, for people with feelings.<br /><br />
        It is that blend of expressing the human condition, of eliciting a reaction,<br />
        A mirror into the self, a porthole into the artist's mind, and a reflection of the world around us.
      </p>
    </section>
  </section>
  <br />
  <br />
  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
  <br />
  <br />
</article>
