<article class="post">
  <header class="post-header">
    <h1>Hello, World!</h1>
    <div class="info-container">
      <p class="post-date">March 3, 2026</p>
      <p class="post-lead">You know how this goes.</p>
    </div>
  </header>
  <hr />
  <section>
    <p
      >Here's the thing about first posts... they're lame!<br />It's usually some "Sign up for my newsletter!" crap or a
      "Here's how I built this site!" post.<br />Some people who are admittedly way cooler and less basic than I am,
      would start just showing off a cool project, an announcement, open up about what blogs mean to them...<br />But I
      believe it is human to be picky about what you share! So, for now, I will just say that I am so excited to have
      built this!
    </p>
  </section>

  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
</article>
