<article class="post h-entry">
  <header class="post-header">
    <h1 class="p-name">BULLY &mdash; Kanye West</h1>
    <div class="info-container">
      <p class="post-date dt-published">April 3, 2026</p>
      <p class="post-lead p-summary">Kanye is being lowered into the grave he dug himself.</p>
    </div>
  </header>

  <hr />

  <section class="e-content">
    <section id="intro" aria-labelledby="h-intro">
      <h2 class="nth-heading" id="h-intro">Why are we still talking about Kanye?</h2>

      <p>Kanye is being lowered in his grave: the one he himself dug and can't seem to get out of.</p>

      <p>
        <q><cite>BULLY</cite></q> is a pathetic attempt at running away from his past, at
        <q>leaving all the pain behind</q> like he says in <q><cite>ALL THE LOVE</cite></q
        >. The mere name <q>BULLY</q> is how he chooses to minimize his hateful positions.
      </p>

      <p>
        Ye is desperate on this one, doing all he can to cling onto the remaining hope his fans had for him. This record
        kicks off with a great sample, warped into Ye's usual ego-stroking rap, but with much less soul, energy,
        lyricism, and much, much worse beats.
      </p>

      <br />
    </section>

    <section id="sound-production" aria-labelledby="h-sound-production">
      <h2 class="nth-heading" id="h-sound-production">Production and sound</h2>

      <p>
        <q><cite>THIS A MUST</cite></q> is a bad try at a rage/Playboi Carti inspired track, and he continues using the
        same, ugly, ad-lib and beat techniques (Seriously? Nobody vetoed that bass? And those drums? That mixing?)
        throughout most of the album, killing songs that could've been decent like <q><cite>FATHER</cite></q> with
        Travis Scott.
      </p>

      <p>
        The production quality is abysmal, there's no cohesion, it all sounds like bad YouTube rips, like unmixed fan
        edits, put together in something released as an album but with less cohesion than a mixtape. All he does is
        reference his past projects, and when he does <q>innovate</q>, he's stealing other artists' sounds, poorly. The
        few standout tracks like <q><cite>ALL THE LOVE</cite></q> and <q><cite>DAMN</cite></q> are not nearly enough to
        save this project. In nobody's eyes.
      </p>

      <br />
    </section>

    <section id="authorship" aria-labelledby="h-authorship">
      <h2 class="nth-heading" id="h-authorship">There's an Elephant there.</h2>

      <p>
        Multiple historical collaborators backed out from working on this project, from Mike Dean which is completely
        absent, to James Blake which asked to be removed from the credits. <q><cite>CIRCLES</cite></q> originally
        featured Don Toliver, but after an update on streaming, it no longer does. French artist Pomme refused clearing
        the sample for <q><cite>HIGHS AND LOWS</cite></q
        >.
      </p>

      <p>
        While Kanye denies the use of <q>AI</q> on this project, the original demos and YouTube release had telltale
        signs of Retrieval Based Voice Conversion (speech to speech), with original vocals being provided by Dave
        Blunts, CyHi and various other vocalists.
      </p>

      <p>
        With all the sample clearance, credit attribution and AI speculation chaos, we don't have clear authorship for
        this project. Did Kanye even sing on half these tracks? We don't know for sure. Mixing is too bad to figure it
        out either. So unbalanced, and don't get me started on that synth bass.
      </p>

      <br />
    </section>

    <section id="iris-says" aria-labelledby="h-iris-says">
      <h2 class="nth-heading" id="h-iris-says">My Interpretation</h2>

      <p>
        On a personal note, the original version of the title track <q><cite>BULLY</cite></q
        >, nicknamed <q>SEROTONIN</q> by fans, was a clear example of Ye not using his real voice, yet, the unedited
        sample, the actual <q>Ha-Ha!</q> by Nelson from <cite>The Simpsons</cite> and the gut-wrenching lyrics about
        lacking serotonin and dopamine in your system. You know, the chemicals that regulate stimulation and mood... the
        ones some common medicines regulate for depression and addiction, and ADHD.
      </p>

      <p>
        He turned that confession about his mental health, one that draws parallels to his infamous ecstasy addiction,
        into this admission of not having changed, this annoying, soulless chant about
        <q>yeah, I'm a bully, sorry, I'll always be</q>.
      </p>

      <p>You can change, Kanye, you can come back.</p>

      <br />
    </section>

    <section id="final-notes" aria-labelledby="h-final-notes">
      <h2 class="nth-heading" id="h-final-notes">Final notes</h2>

      <p>
        This album, along with <cite>VULTURES 1</cite> and <cite>2</cite>, and all the Ye singles and the run he's been
        on, going as far as dropping <cite>DONDA 2</cite>, staining the name of his mother. This is proof you should not
        listen to anything he dropped after <cite>Donda</cite>. That's his last good project. He's dead after that.
      </p>

      <p>
        He spiraled, he was running out of money, his wife didn't come back after <cite>Donda</cite>, he seeked
        attention by being a contrarian, he bought a Super Bowl commercial to sell a Swastika T-Shirt, he released a
        song called <q><cite>HH</cite></q
        >.
      </p>

      <p>I'm not shocked, I'm not mad. I'm disappointed and tired of this guy.</p>

      <p>Kanye is dead.</p>

      <br />
    </section>
  </section>

  <br />
  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
</article>
