/* Footer */
footer {
    background-color: #ff9eb1;
    padding: 0.625rem;
    text-align: center;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
}

.shasum {
    font-family: 'Jetbrains Mono', monospace;
}
