<footer class="h-card">
  <p>
    <span class="p-note">Copyleft: irisnk and contributors!</span>&nbsp;
    <a href="https://github.com/code-irisnk/webbed-site/pulls" rel="me" class="u-url">PR me</a>, or
    <a href="mailto:irisnk@elrant.team" class="u-email">email me a patch</a>!
    <br />
    <span>
      Commit SHA:
      <a
        class="shasum"
        href="https://git.elrant.team/irisnk/webbed-site/commit/{{ commitShaFull }}"
        rel="me"
        class="u-url"
        >{{ commitSha }}</a
      >
    </span>
    • Built with Love and Coffee.
  </p>
</footer>
