<article class="post h-entry">
  <header class="post-header">
    <h1 class="p-name">The End Poem</h1>
    <div class="info-container">
      <p class="post-date dt-published">June 12, 2023</p>
      <p class="post-lead p-summary">From a block game but it means something anyways.</p>
    </div>
  </header>
  <hr />
  <section class="e-content">
    <section id="intro" aria-labelledby="h-intro">
      <h2 id="h-intro">Preamble</h2>
      <p>
        My name is Iris. I've been raised in an environment full of hate.<br />
        Let's give you some perspective:<br /><br />
        When I was two years old he went to a
        <q><a class="source" href="https://en.wikipedia.org/wiki/New_Force_(Italy)">Forza Nuova</a></q> rally, to which
        some people protested by throwing eggs at everyone. I want you to imagine this two year old kid, in a stroller,
        seeing people run, get egged in the face, as its father yells and mother tries to bring it to the safety of
        their car.<br />That was the breaking point for my mother, and she made him reconsider his views, which,
        however, haven't really changed much since. My father was, and still is, a xenophobe, a racist, an antisemite, a
        sexist, a homophobe, a transphobe, and an overall bigot.<br /><br />
        I was raised under the constant fear of messing up, of getting beat up, and manipulated with lies and omission
        into doing whatever the hell they wanted me to, whether that was perform the act of "being a family" or studying
        harder.<br />
        Throughout 2016 my parents had a lot of discussions, and as they fought in front of me, I sunk my time deeper
        and deeper into Minecraft Xbox 360 &mdash; and later Xbox One &mdash; edition. They were mad, on the brink of
        divorce, living in separate houses, cheating on one another, smashing their phones out of anger, and all I had
        was my Minecraft Creative Mode world.<br />
        Minecraft is a game that I experienced fully offline and alone.<br /><br />
        From 2010 when I first played it on my phone, to this day, Minecraft has been by my side more than any friend,
        relative or pet. It has also been the only semi-acceptable substitute for a shared physical space: a world made
        out of blocks, to hang out with my friends and partners in.<br />
        This game shaped me. It made me who I am.<br /><br />
        And this brings us to what I really wanted to talk about&hellip;
      </p>
    </section>
    <hr />

    <section id="the-poem" aria-labelledby="h-the-poem">
      <h2 id="h-the-poem">The End Poem</h2>
      <p>
        I used to consider myself an atheist, yet I've always felt that things happen for a reason &mdash; like if there
        was something pulling the strings, some kind of universal intention.<br /><br />
        I believe The End Poem to have some kind of intrinsic power over people. I do not consider its contents to have
        literal meaning, it is like a parable. It's text written for a block game. Of course it's not meant to have any
        special spiritual meaning, right? Hell, the author wrote it
        <a
          class="source"
          href="https://web.archive.org/web/20250725214539/https://www.theeggandtherock.com/p/i-wrote-a-story-for-a-friend"
          >during a shroom trip in the woods</a
        >! Why would <em>anyone</em> take it seriously? &hellip;yet I do! Kind of.<br /><br />
        I'll start off with stuff most of us can get behind.<br /><br />
        For those who have not read it before: You can &mdash; and should &mdash; read it for yourself at
        <a class="source" href="https://archive.org/details/the-end-poem-release">archive.org</a>, or, for a more
        authentic experience, at <a class="source" href="https://theendpoem.com/">theendpoem.com</a>. But, the gist of
        it is: two supernatural entities manifest themselves as text on the credits screen, congratulating you, and
        explaining more about the long dream of Minecraft.<br /><br />
        I will now quote and dissect the poem. The
        <strong class="lime-entity">lime entity is in bold</strong> and the
        <span class="cyan-entity">cyan entity is in plain text</span>.
      </p>
    </section>
    <hr />

    <section id="sorrow" aria-labelledby="h-sorrow">
      <h2 id="h-sorrow">On Sorrow</h2>
      <figure>
        <blockquote>
          <p>
            <strong class="lime-entity">Does it know that we love it? That the universe is kind?</strong><br />
            <span class="cyan-entity"
              >Sometimes, through the noise of its thoughts, it hears the universe, yes. But there are times it is sad,
              in the long dream. It creates worlds that have no summer, and it shivers under a black sun, and it takes
              its sad creation for reality.</span
            ><br />
            <strong class="lime-entity"
              >To cure it of sorrow would destroy it. The sorrow is part of its own private task. We cannot
              interfere.</strong
            >
          </p>
        </blockquote>
        <figcaption>
          &mdash;
          <cite><a class="source" href="https://archive.org/details/the-end-poem-release">The End Poem</a></cite
          >, Julian Gough
        </figcaption>
      </figure>
      <p>
        These entities talk about how the player has played in worlds of their own creation, worlds built to explore,
        play, escape real life, but also, worlds that caused them to inflict pain and suffering upon themselves, worlds
        built to digest and process the inner workings of oneself. This strongly connects to how I used the game to
        cope, to escape, to vent my feelings out &mdash; and to how I use art.<br /><br />
        They go on to say that this sorrow, this melancholy the player feels, is not something that can be taken out: it
        is part of the player's growth and story, it is an essential part of life, and that a life without suffering
        cannot possibly exist without obliterating all the properties that make a player themselves, unique, alive,
        human, able to feel happiness.<br /><br />
        Life is a sine wave. Peaks and troughs.
      </p>
    </section>
    <hr />

    <section id="entities" aria-labelledby="h-entities">
      <h2 id="h-entities">Who Are We?</h2>
      <p>Yeah. Who <em>are</em> they?</p>
      <figure>
        <blockquote>
          <p>
            <span class="cyan-entity"
              >Who are we? Once we were called the spirit of the mountain. Father sun, mother moon. Ancestral spirits,
              animal spirits. Jinn. Ghosts. The green man. Then gods, demons. Angels. Poltergeists. Aliens,
              extraterrestrials. Leptons, quarks. The words change. We do not change.</span
            ><br /><br />
            <strong class="lime-entity"
              >We are the universe. We are everything you think isn't you. You are looking at us now, through your skin
              and your eyes. And why does the universe touch your skin, and throw light on you? To see you, player. To
              know you. And to be known. I shall tell you a story.</strong
            >
          </p>
        </blockquote>
        <figcaption>
          &mdash;
          <cite><a class="source" href="https://archive.org/details/the-end-poem-release">The End Poem</a></cite
          >, Julian Gough
        </figcaption>
      </figure>
      <p>
        This tells us two things. The entities we are reading are supernatural, and have existed for as long as this
        world has. They are every single deity or spirit any and every civilization has tried to descrive.<br /><br />
        They explain how, the universe, exists and functions to grow and nurture the player. They imply that
        <em>they</em> are the universe, that <em>you</em> are the universe, that they are not separate from you, that
        this is merely a projection of you, talking to yourself.<br />
        In a certain sense, this means that we are our own. We're our galaxies, our lives, our planets, our stories,
        music, foods, smells. We're our friends, our families, we're everyone. Everything is you. And it is with this
        philosophy that I have been processing life.
      </p>
    </section>
    <hr />

    <section id="love" aria-labelledby="h-love">
      <h2 id="h-love">On Love</h2>
      <p>
        As we read the poem we are told that both the pain the player fights, and the light the player needs to escape
        this darkness, are something that comes from within. We are also told that the player is love. Love itself.<br /><br />
        I interpret this as follows: the player's life purpose is to love, to spread love, to love itself, to love
        everything and everyone. That's the big message I take out of the poem.<br />And to love others, you do need to
        love yourself first, because there is no difference. There is no <q>you</q> or <q>I</q>. We are not separate
        things. And all the outward hate you feel, all of it, is hate against yourself too.<br /><br />
        Something a bit harder to swallow is: reality itself is made to grow each and every single player, that the
        hardships are a test made to grow us. That's what it means to be the player: to play the game of life, to grind,
        to pass the hardships, to slay the bosses, to build a house, a pretty house, to demolish it, and build a better
        one, to die and respawn, loving everyone else on the server, for they live with you, and are part of this all
        encompassing universal life, that loves you back.
      </p>
      <figure>
        <blockquote>
          <p>
            <span class="cyan-entity"
              >And the game was over and the player woke up from the dream. And the player began a new dream. And the
              player dreamed again, dreamed better. And the player was the universe. And the player was love. You are
              the player. Wake up.</span
            >
          </p>
        </blockquote>
        <figcaption>
          &mdash;
          <cite><a class="source" href="https://archive.org/details/the-end-poem-release">The End Poem</a></cite
          >, Julian Gough
        </figcaption>
      </figure>
      <p>
        In this sense, if everything happens for growth, every single soul you meet is of immense value, especially
        those that push you to do better, that challenge you and your views, even if it hurts. Your life is enriched
        only by loving others, by fighting pain, by growing yourself, changing, healing yourself and those around you,
        and experiencing as much of the universe as possible. Most of the behaviours this poem preaches are common in
        religions that span from east to west and across the entire history of humanity. They appear to be innate
        desires of mankind: to live life and improve life for others, to wish for nothing but happiness, but accepting
        pain as a normal part of life.
      </p>
    </section>
    <hr />

    <section id="hate" aria-labelledby="h-hate">
      <h2 id="h-hate">On Hate</h2>
      <p>
        Sometimes the notes that are not played matter just as much as the ones that are.<br /><br />
        If loving is what makes someone a good player, that must mean hate is the wrong way to live life. No matter what
        or who you hate. On a psychological level, this aligns with what we know about hate: it is the easiest and
        weakest feeling to have. It's an automatic reaction when presented with something we cannot relate to or do not
        understand. Hating is easy, loving hurts. To love is to make yourself vulnerable.<br /><br />
        Yet loving is not taught. You do not need to learn to love, you are born into it, loving your parents, the
        places you live in, the things you see. Hatred is something humans learn. Kids do not discriminate until someone
        in their life shows their bias and they appropriate that behaviour. Hate is either a response to fear or an
        emulation to fit into society.<br /><br />
        Humans have always felt and will always feel hate, but when concepts like status, money, ownership of territory
        and/or things, monogamy and such arose, the vitriol we experienced started to overwhelm us and shape society
        itself. Hate is a learning opportunity. Once we learn what we hate, we can learn how to process it. Going for a
        walk, thinking, talking, is productive. Yelling, fighting, hurting people, leaves you with nothing.<br /><br />
        We all must make our best effort to tolerate life's hardships. Only through self-evaluation and restraint we can
        love fully, be loved fully and truly live.
      </p>
    </section>
  </section>
  <br />
  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
</article>
