<header>
    <div class="header-left">
        <img
            [routerLink]="['']"
            id="profile-picture"
            ngSrc="index/pfp.png"
            alt="Profile Picture"
            width="512"
            height="512"
            priority
        />
        <h1 [routerLink]="['']" id="wobble" aria-label="Iris">
            <span class="wobble wobble1">I</span>
            <span class="wobble wobble2">r</span>
            <span class="wobble wobble3">i</span>
            <span class="wobble wobble4">s</span>
        </h1>
    </div>

    <!-- Hamburger and toggle -->
    <input type="checkbox" id="menu-toggle" />
    <label class="hamburger" for="menu-toggle" aria-label="Toggle menu">
        <span></span>
        <span></span>
        <span></span>
    </label>

    <nav class="menu">
        <a
            [routerLink]="['git']"
            [class.active]="isCurrentRoute('git')"
            [attr.tabindex]="isCurrentRoute('git') ? '-1' : null"
            >Git</a
        >
        <a
            [routerLink]="['contact']"
            [class.active]="isCurrentRoute('contact')"
            [attr.tabindex]="isCurrentRoute('contact') ? '-1' : null"
            >Contact</a
        >
        <a
            [routerLink]="['ssh']"
            [class.active]="isCurrentRoute('ssh')"
            [attr.tabindex]="isCurrentRoute('ssh') ? '-1' : null"
            >SSH Keys</a
        >
        <a
            [routerLink]="['donate']"
            [class.active]="isCurrentRoute('donate')"
            [attr.tabindex]="isCurrentRoute('donate') ? '-1' : null"
            >Donate</a
        >
        <a
            [routerLink]="['socials']"
            [class.active]="isCurrentRoute('socials')"
            [attr.tabindex]="isCurrentRoute('socials') ? '-1' : null"
            >Socials</a
        >
        <a
            [routerLink]="['blog']"
            [class.active]="isCurrentRoute('blog')"
            [attr.tabindex]="isCurrentRoute('blog') ? '-1' : null"
            >Blog</a
        >
        <a
            [routerLink]="['']"
            [class.active]="isCurrentRoute('')"
            [attr.tabindex]="isCurrentRoute('') ? '-1' : null"
            >Home</a
        >
    </nav>
</header>
