<section class="info column center">
  <h2>Contact</h2>
  <ul>
    <li>📧 Corpo Email: <a href="mailto:irisnk@elrant.team">irisnk&#64;elrant.team</a></li>
    <li>📧 Human Email: <a href="mailto:self@irisnk.me">self&#64;irisnk.me</a></li>
    <li>🔐 SimpleX: <a href="https://simplex.chat/contact#/?v=2-7&smp=smp%3A%2F%2FSkIkI6EPd2D63F4xFKfHk7I1UGZVNn6k1QWZ5rcyr6w%3D%40smp9.simplex.im%2FhjIMUIKqWLQiTJTLTfzCANNZUSMUYVvt%23%2F%3Fv%3D1-3%26dh%3DMCowBQYDK2VuAyEAf9wApzp01cCL5M0ATgY-GpGav-8zkeMIHwg1Algs5TA%3D%26srv%3Djssqzccmrcws6bhmn77vgmhfjmhwlyr3u7puw4erkyoosywgl67slqqd.onion">&#64;riri</a></li>
  </ul>
</section>

