.copy-button {
    padding: 2px 8px;
    margin-left: 5px;
    background-color: var(--ctp-surface0);
    border: 1px solid var(--ctp-surface1);
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    color: var(--ctp-text);
    text-align: center;
    display: inline-block;
    transition:
        background-color 0.3s,
        border-color 0.3s;
}

.copy-button:hover {
    background-color: var(--ctp-surface1);
    border-color: var(--ctp-mauve);
    color: var(--ctp-mauve);
}

.copy-button:focus {
    outline: none;
    box-shadow: 0 0 5px var(--ctp-mauve);
}

.copy-button:active {
    background-color: var(--ctp-surface2);
    border-color: var(--ctp-mauve);
}

.copy-button:disabled {
    background-color: var(--ctp-surface0);
    border-color: var(--ctp-surface1);
    cursor: not-allowed;
    color: var(--ctp-subtext0);
}
