<div class="column center info h-card">
  <h2>Support me!</h2>
  <p>
    If you enjoy my content, music, or code and would like to support my work, you can make a donation using one of the
    following methods!
  </p>
  <p>This keeps the servers running and my espresso topped up.</p>
  <p>
    Also, if donating through crypto
    <a href="mailto:self@irisnk.me" class="u-email">email me</a>
    first!
  </p>
</div>
<section class="columns">
  <div class="column column-left">
    <h2>Easy donation methods</h2>
    <ul class="dotted-list">
      <li>
        Ko-fi: <a href="https://ko-fi.com/nyaambxr" rel="me payment" class="u-url">Donate Now</a>, it has fees, but it's
        fast!
      </li>
      <li>
        LiberaPay: <a href="https://liberapay.com/irisnk/" rel="me payment" class="u-url">Donate Now</a>, it's
        non-profit!
      </li>
      <li>
        Bandcamp: <a href="https://nkrichronos.bandcamp.com/" rel="me payment" class="u-url">Donate Now</a> and get
        Music!
      </li>
    </ul>
  </div>
  <div class="column column-right">
    <h2>Crypto options</h2>
    <ul class="dotted-list">
      @for (crypto of cryptoAddresses; track crypto) {
        <li class="p-payment-method">
          {{ crypto.coin }}:
          <button (click)="copyToClipboard(crypto.address, crypto.coin)" class="copy-button" type="button">
            {{ copiedCoin === crypto.coin ? 'Copied!' : 'Click to copy' }}
          </button>
        </li>
      }
    </ul>
  </div>
</section>
