<article class="post h-entry">
  <header class="post-header">
    <h1 class="p-name">On Poly Stigma</h1>
    <div class="info-container">
      <p class="post-date dt-published">September 13, 2026</p>
      <p class="post-lead p-summary">On polyamory, family, and the inheritance of stigma.</p>
    </div>
  </header>
  <a href="/blog/propaganda-original.png" target="_blank" rel="noopener">
    <picture>
      <source srcset="/blog/propaganda.webp" type="image/webp" />
      <img
        ngSrc="/blog/propaganda-original.png"
        id="preview-img"
        alt="The Garfield meme that says you are not immune to propaganda but with the irisnk sona."
        width="640"
        height="336" />
    </picture>
  </a>
  <hr />

  <section id="intro" aria-labelledby="h-intro">
    <h2 id="h-intro">Introduction</h2>
    <p>
      This is a blog post about polyamory and the "shape" of a family. I started writing this due to... one of those
      weird, negative feelings you get when interacting with people that don't really understand you.
      <br /><br />
      If you are someone whose relationship spheres don't exactly fit within what is seen as normal, you might know that
      feeling. Of course, this applies to most queer people, but I'm sure my aspec readers will relate to it the most.
      <br /><br />
      Isn't it tiring when friends, queer friends, people who you view as your brethren, misunderstand part of your
      identity, whatever it may be, as "New"?
      <br /><br />
      As a product of other parts of your identity, be it gender or sexuality, as it being fault of the Internet, or
      just calling you immature, telling you that you're just not ready for a relationship, that you don't know what
      you're talking about, hinting that people in your spectrum are bad partners or friends, that you'll grow out of
      it.
      <br /><br />
      Peppered with them reminding you they had bad experiences around people like you, judgement over your "choice" and
      more semi-subtle queerphobic rhetoric.
      <br /><br />
      You might have unfortunately experienced a lot of these judgements yourself, along with memes, jokes, and the
      like.
      <br /><br />
      Why is it that other queer people, supposedly accepting, seem biased against those with nonstandard relationship
      spheres?
    </p>
  </section>
  <hr />

  <section id="sage" aria-labelledby="h-sage">
    <h2 id="h-sage">Sage</h2>
    <p>
      To answer this, I brought in one of my friends, who really likes philosophy, and I got pointed to Engels.
      <br /><br />
      Engels has some theories about the institution of family, that he developed reading fieldwork of American
      anthropologist Lewis Henry Morgan. Morgan studied the Iroquois and noted that, one of the earliest
      institutionalized forms of kinship was Matrilineality. While nowadays scholars debate the claim of it being the
      "earliest", it is factually correct to claim that — and not just with indigenous north americans — a societal
      structure in which private property, female subordination, and the concept of a nuclear family, along with
      heterosexuality and monogamy, was imposed on some cultures that did not develop it endogenously.
      <br /><br />
      I will not go into detail delineating all the people and forms of non-"traditional by modern standards" family
      structures, be it polygyny, polyandry, etcetera.
      <br /><br />
      Even during Medieval Christian Europe, forms of polygamy were still present.
      <br /><br />
      So what was it that caused the sharp fall and stigmatisation of polygamy?
    </p>
  </section>
  <hr />

  <section id="engels-claim" aria-labelledby="h-engels-claim">
    <h2 id="h-engels-claim">Engels' Claim // My interpretation</h2>
    <p>
      According to his book, <q><cite>The Origin of the Family, Private Property and the State</cite></q
      >: Before class society, humans lived in groups of flexible sizes. Whenever someone, for example, produced an
      agricultural surplus and gained wealth from it, they might've wanted to pass that wealth along to their offspring.
      In this way, the need for a clear ancestry arises. <br /><br />
      To reduce promiscuity and doubt, monogamous marriage arose, and was enforced on women, while men were able to have
      extramarital affairs.
      <br /><br />
      Yeah. That's it. It's about money. It's about inheritance.
      <br /><br />
      I'll let my bias shine through for a second: I knew monogamy was enforced by religions, colonization and the moral
      superiorities and panics those create to justify themselves. But before researching this, I had no clue it was
      born by the need to retain wealth, and that those factors weren't the ones that ideated it.
      <br /><br />
      While humans are complicated and freeform, and some feel more comfortable in a monogamous relationship, the
      enforcing of monogamy as an institution is a vestigial part of the feudal system that permeates our society and
      laws, from civil unions to the amount of people you can lease an apartment to without a special permit.
      <br /><br />
      Monogamy was enforced to centralize power and wealth, to protect property. So the next time someone jokes about
      "poly people are only doing it for rent", tell them that monogamy exists specifically to enforce the
      Landlord-Tenant (Lord-Serf) hierarchy.
      <br /><br />
      This is not meant to be a gotcha to people who are monogamous. Instead, those who judge polyamory are reinforcing
      centuries of class division.
    </p>
  </section>
  <br />
  <br />
  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
  <br />
  <br />
</article>
