body {
    font-family: Arial, sans-serif;
    background-color: #f5e1ea;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff9eb1;
}

#profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

h1#wobble {
    margin: 0;
}

.header-left {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

.center {
    margin: 0 auto;
    width: 50%;
}

.section {
    padding: 20px;
    border-bottom: 1px solid #ccc; /* Adding border */
}

.info h2 {
    color: #333;
    margin-top: 0;
}

.info p {
    margin-bottom: 10px;
}

footer {
    background-color: #ff9eb1;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: static;
    bottom: 0;
}
