<div class="info column center columns container">
  <div class="section-borderless column-left">
    <h2 class="info">HTML Pages</h2>
    <ul class="dotted-list">
      <li><a [routerLink]="['blog.html']">Blog</a></li>
      <li><a [routerLink]="['contact.html']">Contact</a></li>
      <li><a [routerLink]="['donate.html']">Donate</a></li>
      <li><a [routerLink]="['git.html']">Git(s)</a></li>
      <li><a [routerLink]="['index.html']">Index</a></li>
      <li><a href="LICENSE">License</a></li>
      <li><a href="README.md">Readme</a></li>
      <li><a [routerLink]="['socials.html']">Socials</a></li>
      <li><a [routerLink]="['ssh.html']">SSH Keys</a></li>
      <hr/>
      <li><a href="tumblr-bak/irisnkrichronos/index.html">irisnkrichronos blog backup</a></li>
      <li><a href="tumblr-bak/clovergreytime/index.html">clovergreytime blog backup</a></li>
      <li><a href="tumblr-bak/nyaambxr/index.html">nyaambxr blog backup</a></li>
    </ul>
  </div>
  <div class="section-borderless column-right">
    <h2 class="info">Assets</h2>
    <ul class="dotted-list">
      <li><a href="assets/styles.css">CSS</a></li>
      <li><a href="assets/index/pfp.png">Profile Picture</a></li>
      <li><a href="sitemap.xml">Sitemap XML</a></li>
      <li><a href="sitemap.txt">Sitemap TXT</a></li>
      <li><a href=".well-known/security.txt">security.txt</a></li>

    </ul>
  </div>
</div>
