<article class="post h-entry">
  <header class="post-header">
    <h1 class="p-name">I Like Music (2025)</h1>
    <div class="info-container">
      <p class="post-date dt-published">March 4, 2026</p>
      <p class="post-lead p-summary">A recap of my favorite music of 2025</p>
    </div>
  </header>
  <img
    id="preview-img"
    alt="The top 3 albums we are about to discuss, and the honorable mentions, displayed in a no text, cover art only grid"
    src="./blog/music-original.png" />
  <hr id="this-is-hell" />
  <section class="e-content">
    <section id="intro" aria-labelledby="h-rankings">
      <p>Let's cut to the chase and give rankings. I'll explain later.</p>
      <h3 id="h-rankings">Best Albums</h3>
      <ol>
        <li
          ><a href="https://album.link/s/17ScNnJ0lSWajodZaRpHdQ">Let God Sort Em Out</a> &mdash; Clipse (Pusha T &
          Malice) -> <a [routerLink]="[]" fragment="lgseo">jump</a></li
        >
        <li
          ><a href="https://album.link/s/2XeflvA0dNvjpX0vxukgiv">♡ (Heart)</a> &mdash; Jane Remover ->
          <a [routerLink]="[]" fragment="heart">jump</a></li
        >
        <li
          ><a href="https://album.link/s/0PJUaZbSyWxrthXKKPAvbV">two house</a> &mdash; food house (gupi & Fraxiom) ->
          <a [routerLink]="[]" fragment="2house">jump</a></li
        >
      </ol>

      <p>
        So. A traditional hip hop album, an experimental electronic album, and an hyperpop album... Typical Iris stuff!
      </p>
    </section>
    <hr />

    <section id="lgseo" aria-labelledby="h-lgseo">
      <h2 id="h-lgseo">Let God Sort Em Out &mdash; Clipse</h2>
      <figure>
        <blockquote>
          <p>
            <q
              >We got five nominations, yeah, five, let's get that right, five. And uhm, you know, we already took one
              home for best rap performance, so, uhm, really happy about that.</q
            >
          </p>
        </blockquote>
        <figcaption>
          &mdash; Pusha T,
          <cite>
            <a class="source" href="https://www.youtube.com/watch?v=kHro_-2jjSk"> GRAMMYs red carpet interview </a>
          </cite>
        </figcaption>
      </figure>

      <figure>
        <blockquote>
          <p>
            <q
              >This one for Virginia. It's for the 757... the restoration of East Coast ambition in terms of music and
              sound.</q
            >
          </p>
        </blockquote>
        <figcaption>
          &mdash; Pharrell Williams,
          <cite>
            <a class="source" href="https://www.youtube.com/watch?v=kHro_-2jjSk"> GRAMMYs red carpet interview </a>
          </cite>
        </figcaption>
      </figure>

      <p>
        I don't know if you heard, but the Thornton brothers (Pusha T and Malice), linked up with historical
        collaborator Pharrell Williams and released a new album in 2025. It's the brothers' first album together since
        2009's <q><cite>Til The Casket Drops</cite></q
        >, and so, naturally, expectations were high for <q><cite>Let God Sort Em Out</cite></q
        >.<br /><br /></p
      ><p
        >In case you missed it, during the rollout of this album, a collaboration with one Kendrick Lamar was announced,
        and Clipse's label was <b>not</b> having it.<br />You see, Kendrick took the better part of 2024 to not just
        diss, but bully Canadian rapper Drake, with plenty allegations thrown around, and tracks like
        <q><cite>meet the grahams</cite></q> which lyrically and sonically paints this picture of Kendrick as the
        boogeyman, as a serial killer, but one that has motive and justification, leading an intervention on Drake, his
        family and those who enable him.<br /><br /></p
      ><p>
        With the character assassination of Drake on BOTH of Pusha T and Kendrick's track records (see: "<a
          href="https://genius.com/Pusha-t-the-story-of-adidon-lyrics"
          ><cite class="source">Story of Adidon</cite></a
        >") the label was rightfully concerned that a collaboration between the two would be
        <a class="source" href="https://youtu.be/6YpZ4OtURZQ?t=2109">a PR nightmare.</a><br /><br />
        At this point, Clipse had two options: either scrap the track, or, get this, terminate their label contract
        early, paying the label a fee, and release the entire album independently. They chose the latter. I kid you not,
        they paid a
        <a
          class="source"
          href="https://web.archive.org/web/20250605031910/https://thesource.com/2025/06/04/stephen-victor-reveals-clipse-had-to-pay-seven-figures-to-depart-def-jam/"
          >SEVEN FIGURE sum</a
        >
        to get out of their contract, and released the album under Roc Nation.
        <br />
        Okay, cool, the independence and drama is interesting, but it's not OVER.<br /><br />
        In <q><cite>So Be It</cite></q
        >, Pusha T admits to owning a video of Travis Scott crying and threatens to send it to TMZ. The Genius
        annotations for <a class="source" href="https://genius.com/35932004">this section</a> are so spicy they're hot
        sauce, not tea.<br /><br /></p
      ><p>
        Anyways, the album is fantastic, and it's a return to form for the duo. It's a perfectly crafted showcase of how
        real hip-hop is immortal and ageless. I love the sonics of it so much. The way Pharell arranges the kick drum to
        create pockets for Clipse to rap in, the melodies and choruses, the arabic singing sample on
        <q><cite>So Be It</cite></q
        >, the way the beat cuts out and reverb goes up on <q><cite>M.T.B.T.T.F.</cite></q
        >, the heartfelt tribute/reflection on their parents' passing on <q><cite>The Birds Dont Sing</cite></q
        >, with John Legend's majestic vocals.<br />It's really, <em>really</em> good.<br /></p
      ><p
        >The production and mastering is immaculate, you can feel the breathiness in Pusha's voice, the fry in Malice's,
        which culminates in the title track, <q><cite>Let God Sort Em Out</cite></q
        >, where the brothers take turns and exchange bars. As for you, Pharell, you managed to make every single
        instrument modern, to slide pianos everywhere, to use new drums on oldstyle beats, you slayed it. Like, holy
        fuck.<br /><br /></p
      ><p>Rating: <strong>9</strong>/10 &mdash; If you like hip-hop, you'll love this album. </p>
    </section>
    <hr />
    <section id="heart" aria-labelledby="h-heart">
      <h2 class="nth-heading" id="h-heart">♡ (Heart) &mdash; Jane Remover</h2>
      <p>
        Yes, really! I preferred this to Jane's <q><cite>Revengeseekerz</cite></q
        >! I'm serious! I preferred the pop album to the hip-hop album!
        <span aria-label="smiling face">:D</span> JAAAAAAAANE what the hell!! This production is really well balanced,
        it's so smooth yet detailed, it can get gritty and noisy but it feels delicate, purposeful, with a cover art to
        match!<br /><br /></p
      ><p
        >I feel like Jane was fully in her pop-girl bag while writing this. It is such a shame that this project came
        out as late as it did, but I genuinely love almost everything about it. I do wish we had gotten proper music
        videos like we did for <q><cite>Revengeseekerz</cite></q> instead of just visualizers. Then again, this
        technically is not a full album - it is more of an EP.<br /><br />
      </p>
      <p
        >Even so, I think it deserved more attention. While this EP won't give you the dopamine hit that
        <q><cite>Revengeseekerz</cite></q> does, it is a much more well-rounded and cohesive project, and I think it is
        a better showcase of Jane's artistry. A lot of people see <q><cite>Revengeseekerz</cite></q> as this crazy good,
        genre-defining, personality and pfp changing worthy, almost flawless concept album. I don't see it that way. It
        is more of a <q><cite>TURN UP OR DIE</cite></q> project. That is not inherently a problem, but it does mean some
        tracks land better than others, and that it ultimately loses a lot of replay value... so, if you were asking,
        <q><cite>Revengeseekerz</cite></q> is a 7.5 for me.<br /><br /> </p
      ><p>
        Instead, <q><cite>♡ (Heart)</cite></q> has less tracks, which are all more cohesive, and the EP overall has no
        misses. This EP contains tracks Jane has already given us before, especially if you follow their SoundCloud, but
        that is not inherently a bad thing! For example, we got an extended cut of <q><cite>How To Teleport</cite></q
        >! Also, this project is self referential and even samples itself. Even
        <q><cite>Revengeseekerz</cite></q> samples <q><cite>Music Baby</cite></q
        >, it is such a treat to listen to once you catch it.<br /><br
      /></p>
      <p
        >I also love the way Jane's voice is mixed on this project. It is so clear and upfront, and you can hear what
        they are trying to do with it, when they make their voice more airy or when they make it drier, adding a much
        needed layer of emotion.<br />I don't think any of the tracks necessarily stand out or fall short, but while
        fitting together in the same vibe, they vary in mood and energy, which makes the EP overall more dynamic and
        interesting to listen to.<br /><br />On <q><cite>So What?</cite></q> and <q><cite>Music Baby</cite></q> we get
        this really fun, upbeat, love-centric, bubbly, snappy, get up and dance feeling, which perfectly contrasts the
        more melancholic, introspective, and emotional vibe of <q><cite>Dream Sequence</cite></q
        >. We even get songs in-between those two vibes, like <q><cite>How To Teleport</cite></q
        >, <q><cite>Flash in the Pan</cite></q> and <q><cite>Magic I Want U</cite></q
        ><br />
      </p>
      <h3>Sidenote</h3>
      <p>
        I <em><b>think</b></em
        >&nbsp;<q><cite>So What?</cite></q> might sample or interpolate <q><cite>Roygbiv</cite></q> by Boards of Canada.
        The synth bass is very similar in melody and texture. No one else has pointed it out, so maybe I am wrong, but I
        have messed around with the stems of that song and I can hear the similarity even in the master if I squint.<br /><br />
        Also, what's up with firework screech samples and 2025? Between Jane and 2hollis, I feel like I'm on Minecraft
        flying around with a pair of Elytra.<br />Actually, a lot of the samples on this album had me absolutely gagged,
        flabbergasted at the fact that they fit so well. Jane sampled this 1.50KHz seatbelt alarm on
        <q><cite>So What?</cite></q
        >, and like, she's in a car in the cover art, of course.<br /><br /> </p
      ><p>Rating: <strong>8.5</strong>/10 &mdash; Should've been a full album. </p>
    </section>
    <hr />
    <section id="2house" aria-labelledby="h-2house">
      <h2 class="nth-heading" id="h-2house">two house &mdash; food house</h2>
      <p>this that fag furry shit. 8/10<br /><br /></p>
      <p>
        Jokes aside, I have been waiting for this ever since their debut album <q><cite>food house</cite></q
        >. How does <q><cite>two house</cite></q> compare? It's a sequel... A worthy sequel but nothing mindblowing.<br />The
        production is out of this world on tracks like <q><cite>computerpunk</cite></q
        >, <q><cite>get it</cite></q> and <q><cite>credit card knife</cite></q
        >. This album is chock full of hilarious references, from <q><cite>jumpin the cacc</cite></q> which literally
        samples <a class="source" href="https://youtu.be/ylw10Dn0sFQ">the titular YTP</a> of
        <q><cite>That's What I Like</cite></q> by Bruno Mars, to <q><cite>dancing on your grave</cite></q> which is
        basically <a class="source" href="https://genius.com/34730550">a blackwinterwells diss track</a>, but it is all
        laced in this infectious, hilarious vocabulary, with frax's best voice yet.<br /><br />
      </p>
      <p
        >That earworm-like quality applies to frax's vocals throughout the better part of this album! It's shockingly
        good!<br />
        I find gupi a bit lacking in this project, especially in production (see: the melody in
        <q><cite>hot problems</cite></q> and <q><cite>td bank</cite></q
        >). I also wish gupi was more present on the mic, they only appear on <q><cite>la la la</cite></q> and it
        definitely is not enough. gupi has already showcased and proven their vocal prowess with solo tracks such as
        <q><cite>spiralcourse</cite></q
        >, so I really do not understand the decision to make them sing less.<br /><br
      /></p>
      <p
        >Or do I? <span aria-label="cat face">:3</span><br />You see, this album feels very personal to fraxiom, so much
        so that I think it should've been hers with gupi as a producer, not released under food house!<br />None of that
        matters however, when one of my favorite tracks from <q><cite>food house</cite></q
        >: <q><cite>8 now</cite></q
        >, gets a sequel! <q><cite>now 2</cite></q> is an absolute banger, even with that acid lead.
      </p>

      <figure>
        <blockquote>
          <p> <q>We're rolling bigger doobies, and growing bigger boobies</q> </p>
        </blockquote>
        <figcaption>
          &mdash; Fraxiom,
          <cite>
            <a class="source" href="https://genius.com/34743116"> now 2 </a>
          </cite>
        </figcaption>
      </figure>

      <p
        >This song slaps. frax opening up about her transition and family two food house albums in a row is iconic. We
        are witnessing levels of aura never seen before by mankind, maybe because frax is an anthro bunny. Yes, frax
        opens up about being a furry on this album! And with the track <q><cite>kutna hora</cite></q> she confesses her
        love for big buff hairy bara men, a theme that repeats in her 2026 album
        <q><cite>The Adventures of Jester Jackalope</cite></q
        >. There's also an hilarious line about assvore and catholicism, but it's not for everyone.<br /><br
      /></p>
      <p
        >Before closing off this review, I really want to shine a light on the tracks <q><cite>special</cite></q> and
        <q><cite>everybody's eyes</cite></q
        >, which really resonate with me and my relationships. I love you all.<br /><br
      /></p>
      <p>Rating: <strong>8</strong>/10 &mdash; Could've been better. </p>
    </section>
    <hr />
    <section id="honorable-mentions" aria-labelledby="h-mentions">
      <h2 id="h-mentions">Honorable Mentions</h2>
      <ul>
        <li
          ><q class="mention"
            ><cite class="mention"
              ><a href="https://album.link/s/77CZUF57sYqgtznUe3OikQ">I Love My Computer</a></cite
            ></q
          >
          &mdash; Ninajirachi</li
        >
        <li
          ><q class="mention"
            ><cite class="mention"><a href="https://album.link/s/0IojfyxFQMggZW9aNCeaV7">SISTER</a></cite></q
          >
          &mdash; Frost Children</li
        >
        <li
          ><q class="mention"
            ><cite class="mention"
              ><a href="https://album.link/s/3Uh6x05rLt3AIQJMzA50vw">The Good The Bad The Dollar Menu</a></cite
            ></q
          >
          &mdash; Ray Vaughn</li
        >
        <li
          ><q class="mention"
            ><cite class="mention"><a href="https://album.link/s/21b4cDNse2AMpj94ykfuON">Revengeseekerz</a></cite></q
          >
          &mdash; Jane Remover</li
        >
        <li
          ><q class="mention"
            ><cite class="mention"><a href="https://album.link/s/1HjSoAhxhq4RtappX15Xt7">star</a></cite></q
          >
          &mdash; 2hollis</li
        >
        <li
          ><q class="mention"
            ><cite class="mention"><a href="https://album.link/s/1TP95xOGiWqdVOu4hGbuug">Rebel</a></cite></q
          >
          &mdash; EsDeeKid</li
        >
        <li
          ><q class="mention"
            ><cite class="mention"><a href="https://album.link/s/0fSfkmx0tdPqFYkJuNX74a">MUSIC</a></cite></q
          >
          &mdash; Playboi Carti</li
        >
      </ul>
    </section>
  </section>
  <br />
  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
</article>
