/* Reset and basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5e1ea;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    word-break: break-word;
}

/* Main content area */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    /* Adjusted padding */
    background-color: #ff9eb1;
    width: 100%;
    box-sizing: border-box;
}

/* Profile Picture */
#profile-picture {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

/* Header Left */
.header-left {
    display: flex;
    align-items: center;
}

/* Navigation */
nav {
    display: block;
    align-items: center;
    padding: 0 0.75rem;
    /* Adjusted padding */
}

nav a {
    margin-right: 0.625rem;
    text-decoration: none;
    color: #333;
}

nav a:hover {
    text-decoration: underline;
}

/* Centered Content */
.center {
    width: 50%;
    margin: 0 auto;
}

.center2 {
    margin: 0 auto;
}

/* Sections */
.section,
.section-borderless {
    padding: 1.25rem;
}

.section {
    border-bottom: 0.0625rem solid #ccc;
}

.section-borderless {
    border: none;
}

/* Dotted List */
.dotted-list {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

.dotted-list li {
    margin-bottom: 0.3125rem;
}

.dotted-list li::before {
    content: "•";
    margin-right: 0.3125rem;
}

/* Last Child Styles */
.dotted-list li:last-child {
    margin-bottom: 0;
}

.section:last-child {
    border-bottom: none;
}

/* Info */
.info h2 {
    color: #333;
    margin-top: 0;
}

.info ul {
    list-style: none;
    padding: 0;
}

.info ul li {
    margin-bottom: 0.3125rem;
}

/* Footer */
footer {
    background-color: #ff9eb1;
    padding: 0.625rem;
    text-align: center;
    width: 100%;
    margin-top: auto;
    box-sizing: border-box;
}

/* Columns */
.columns {
    display: flex;
    flex-wrap: wrap;
}

.column {
    box-sizing: border-box;
    padding: 1.25rem;
    margin-top: 1rem;
    width: 50%;
}

/* Text Animation */
@keyframes wobble {
    from {
        position: relative;
        top: -3px;
    }

    to {
        position: relative;
        top: 3px;
    }
}

.wobble {
    animation-name: wobble;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.wobble1 {
    animation-delay: 0s;
}

.wobble2 {
    animation-delay: -0.2s;
}

.wobble3 {
    animation-delay: -0.4s;
}

.wobble4 {
    animation-delay: -0.6s;
}

.wobble5 {
    animation-delay: -0.8s;
}

.wobble6 {
    animation-delay: -1.0s;
}

.wobble7 {
    animation-delay: -1.2s;
}

.wobble8 {
    animation-delay: -1.4s;
}

/* Media Query for Small Screens */
@media (max-width: 37.5rem) {
    #wobble {
        display: none;
    }

    .center,
    .column {
        width: 100%;
    }
}

/* Disable animation if prefers-reduced-motion is set */
@media (prefers-reduced-motion) {
    .wobble {
        animation-duration: 0s;
    }
}

.eighty-eight-grid {
    /* ((88x31 width + gap) * max per row) */
    margin: 1rem;
    margin-top: 0;
    max-width: min(calc((88px + 4.5px) * 10), 100vw);
    display: grid;
    gap: 7.4px 4.5px;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, minmax(88px, 1fr));
}

.eighty-eight {
    width: 88px;
    height: 31px;
    image-rendering: pixelated;
}

/* WARNING: freaky mode */
:root:has(#freaky:checked)::after {
    content: "";
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(154, 65, 40);
    background: linear-gradient(215deg,
            rgba(154, 65, 40, 1) 0%,
            rgba(116, 36, 94, 1) 50%,
            rgba(59, 56, 132, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    opacity: 0.2974;
    pointer-events: none;
}