<section class="info center column h-feed">
  <h2>Check out my backed up blogs!</h2>
  <ul class="dotted-list">
    <li class="h-entry">
      <a href="/tumblr-bak/nyaambxr/index.html" class="u-url p-name">tumblr-bak/nyaambxr</a>
    </li>

    <li class="h-entry">
      <a href="/tumblr-bak/irisnkrichronos/index.html" class="u-url p-name">tumblr-bak/irisnkrichronos</a>
    </li>
  </ul>
</section>

<section class="info center column h-feed">
  <h2> venting </h2>
  <ul class="dotted-list">
    <li class="h-entry">
      <a href="https://burningro.me/assets" class="u-url p-name">burningro.me/assets</a>
    </li>
    <li class="h-entry">
      <a href="/tumblr-bak/clovergreytime/index.html" class="u-url p-name">tumblr-bak/clovergreytime</a>
    </li>
  </ul>
</section>
