<section class="info center column">
  <h2>Blog</h2>
  <div class="little-wrapper">
    <p class="explainer">Thoughts, rants, and the occasional tutorial.</p>
    <div class="icons">
      <a href="/blog/feed.xml" download title="RSS feed">
        <mat-icon svgIcon="my-rss" id="rss-icon"></mat-icon>
      </a>
      <a href="/blog/atom.xml" download title="Atom feed">
        <mat-icon svgIcon="my-atom" id="atom-icon"></mat-icon>
      </a>
      <a href="/blog/feed.json" download title="JSON feed">
        <mat-icon svgIcon="my-jsonfeed" id="jsonfeed-icon"></mat-icon>
      </a>
    </div>
  </div>
  <hr />
  <ul class="dotted-list">
    @for (post of posts; track post.slug) {
      <li>
        <a [routerLink]="['/blog', post.slug]" class="post-link">{{ post.title }}</a>
        <span class="post-meta"> :: {{ post.date }}</span>
        <p class="post-desc">{{ post.description }}</p>
      </li>
    }
  </ul>
</section>
