<section class="info center column">
  <section class="info">
    <h2>Keys</h2>
    <ul></ul>
  </section>
  <section class="info" class="key-item" class="key-content">
    <ul>
      <li>
        <strong>PGP</strong>:
        <a
          href="https://keys.openpgp.org/vks/v1/by-fingerprint/29AAE731164AFE97A2E8ECA83FB89E8ADB3D4BFC"
          rel="pgpkey authn"
          class="u-key">
          Public Key
        </a>
      </li>
      <li>
        <strong>age</strong>:
        <a href="index/age.pub" class="u-key">Public Key</a>
      </li>
      <li>
        <strong>minisign</strong>:
        <a href="index/minisign.pub" class="u-key">Public Key</a>
      </li>
    </ul>
  </section>

  <ul class="dotted-list">
    @for (key of sshKeys; track key) {
      <li class="key-item">
        <div class="key-content">
          <div class="label">
            <strong>{{ key.name }}:</strong>
          </div>
          <button (click)="copyToClipboard(key.key, key.name)" class="copy-button" type="button">
            {{ copiedKey === key.name ? 'Copied!' : 'Copy SSH key' }}
          </button>
        </div>
      </li>
    }
  </ul>
</section>
