<section class="column center info">
  <h2>My SSH keys</h2>
  <ul class="dotted-list">
    <li> sk-ssh-ed25519&#64;openssh.com
      AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIMusIxvnxnzAK27iThvDT7gYfDn/V6cNbqHq7xQ2ejkeAAAACHNzaDp5dWJp
      irisnk&#64;yubikey </li>
    <li> ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIEobdwiNw95e/JdgyGbWCqxNBU0uBFchjt5T+3P0LBhN irisnk&#64;ruthenium </li>
    <li> ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILjPSOsni9cZ8MJNZI9QE8AAYe5W7KvV35MWEmbdxcM3 irisnk&#64;ektron </li>
    <li> ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIFMZnMGAjr3WbNkvk0aeeWJBnXAoS8pk5TaS1LZtjGNP u0_a370&#64;localhost </li>
    <li> ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG4ztjl0IHF83b4YcqMNxK/JBxTOggnzBJ5g2yQpCbM+ openpgp:0xDB3D4BFC </li>
  </ul>
</section>
