<div class="home-wrapper h-card">
  <div class="columns info center">
    <div class="column column-right">
      <section class="info">
        <a href="https://dorm.social/@irisnk" rel="me" class="hidden-verification" aria-hidden="true" tabindex="-1"></a>
        <h2>Bio</h2>
        <p>
          Hello there!
          <br />
          I'm <span class="p-name">Iris</span>! <span class="p-note">A 19yo trans woman that codes for a living!</span>
        </p>
        <p>
          <strong>Likes</strong>:
          <a href="https://listenbrainz.org/user/nyaambxr/" rel="me" class="u-url">listening</a>
          to &
          <a href="https://open.spotify.com/artist/3w0jrGnJZGGscmcu0DoLR5" rel="me" class="u-url">making</a>
          music, Java, Privacy, Linux, FOSS, cats, coffee, both frontend and backend.
        </p>
      </section>
      <section class="info">
        <p>
          This website is lovingly crafted under the
          <a href="https://git.elrant.team/irisnk/webbed-site/raw/branch/main/LICENSE">MPL-2.0</a>
        </p>
      </section>
      <section class="info music-player">
        <strong>Music Player</strong>:
        <a
          class="tauon-uptime-container"
          href="https://nowplaying.irisnk.me/"
          target="_blank"
          rel="noopener noreferrer">
          <img
            class="tauon-uptime-badge"
            src="https://updog.dorm.social/api/badge/10/status"
            alt="Now playing on iri's music player"
            title="Now playing — open nowplaying.irisnk.me" />
        </a>
      </section>
    </div>
    <div class="column column-left">
      <section class="info">
        <h2>Technologies I know</h2>
        <ul>
          <li> <strong>Frontend</strong>: Angular, Vue, React, HTML, CSS </li>
          <li> <strong>Backend</strong>: Rust, Java/Spring Boot, SQL, MongoDB </li>
          <li> <strong>Tools</strong>: Git, Docker, Linux, Cisco IOS, Figma </li>
        </ul>
      </section>
      <section class="info">
        <h2>Keys</h2>
        <ul></ul>
      </section>
      <section class="info">
        <ul>
          <li>
            <strong>PGP</strong>:
            <a
              href="https://keys.openpgp.org/vks/v1/by-fingerprint/29AAE731164AFE97A2E8ECA83FB89E8ADB3D4BFC"
              rel="pgpkey authn"
              class="u-key">
              Public Key
            </a>
          </li>
          <li>
            <strong>age</strong>:
            <a href="index/age.pub" class="u-key">Public Key</a>
          </li>
          <li>
            <strong>minisign</strong>:
            <a href="index/minisign.pub" class="u-key">Public Key</a>
          </li>
        </ul>
      </section>
    </div>
  </div>

  <app-eighty-eight></app-eighty-eight>
</div>
