.hidden-verification {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
  pointer-events: none;
  visibility: hidden;
}

.tauon-uptime-badge {
  vertical-align: middle;
}

.tauon-uptime-container {
  display: inline-flex;
  margin-left: 0.35em;
}

section.music-player {
  display: inline-flex;
  align-items: center;
}
