<div class="home-wrapper h-card">
  <div class="columns info center">
    <div class="column column-right">
      <section class="info">
        <h2>Who I Am</h2>
        <p>
          Hello there!
          <br />
          I'm <span class="p-name">Iris</span>!
          <span class="p-note"
            >A 19yo <a rel="me" class="u-url" href="https://pronouns.dorm.social/@irisnk">trans woman</a> that codes for
            a living!</span
          >
        </p>
        <p>
          <strong>Likes</strong>:
          <a href="https://listenbrainz.org/user/nyaambxr/" rel="me" class="u-url">listening</a>
          to &
          <a href="https://open.spotify.com/artist/3w0jrGnJZGGscmcu0DoLR5" rel="me" class="u-url">making</a>
          music, Java, Privacy, Linux, FOSS, cats, coffee, both frontend and backend.
        </p>
      </section>
      <section class="info">
        <p>
          This website is lovingly crafted under the
          <a href="https://git.elrant.team/irisnk/webbed-site/raw/branch/main/LICENSE">MPL-2.0</a>
        </p>
      </section>
      <section class="info music-player">
        <strong>Music Player</strong>:
        <a
          class="tauon-uptime-container"
          href="https://nowplaying.irisnk.me/"
          target="_blank"
          rel="noopener noreferrer">
          <img
            class="tauon-uptime-badge"
            src="https://updog.dorm.social/api/badge/10/status"
            alt="Now playing on iri's music player"
            title="Now playing — open nowplaying.irisnk.me"
            height="20" />
        </a>
      </section>
    </div>
    <div class="column column-left">
      <section class="info">
        <h2>What I Do</h2>
        <p>
          I run <a href="https://friends.dorm.social/services">Dorm</a>! A collective of nerds.<br />
          For Dorm, I manage and deploy software and infrastructure.<br />
          We even have our own <a href="https://git.elrant.team/dorm/turtkey">microblogging software</a>!<br />
          I use code as a problem solving tool in my hobbies, and at my job!<br />
          I also make music using trial and error in Ableton Live 12.
        </p>
      </section>
    </div>
  </div>

  <app-eighty-eight></app-eighty-eight>
</div>
