<div class="columns info center">
  <div class="column column-right">
    <section class="info">
      <h2>Bio</h2>
      <p>Hi! I'm Iris, a trans computer science student!</p>
      <p>Likes: listening to / <a href="https://nyaambxr.bandcamp.com/">making music</a>, Java, Privacy, Linux, FOSS,
        cats, coffee, tea, and more!</p>
      <p>Dislikes: Cringe culture, "anti-woke" people, cops</p>
    </section>
    <section class="info">
      <p>This website is under the <a href="LICENSE">Mozilla Public License Version 2.0</a></p>
    </section>
  </div>
  <div class="column column-left">
    <section class="info">
      <h2>Get to know me!</h2>
      <ul>
        <li><a [routerLink]="['git']">Git(s)</a></li>
        <li><a href="https://en.pronouns.page/@irisnk">Pronouns.Page</a></li>
        <li><a href="https://listenbrainz.org/user/nyaambxr/">ListenBrainz</a></li>
        <li><a href="https://www.last.fm/user/nyaambxr">Last.fm</a></li>
      </ul>
    </section>
    <section class="info">
      <ul>
        <li>SSH: <a [routerLink]="['ssh']">Public Keys</a></li>
        <li>GPG: <a
            href="https://keys.openpgp.org/vks/v1/by-fingerprint/29AAE731164AFE97A2E8ECA83FB89E8ADB3D4BFC">Download
            Public Key</a></li>
      </ul>
    </section>
  </div>
</div>

<eighty-eight></eighty-eight>
