<section class="info column center">
  <h2>Socials</h2>
  <p>My clones got lost in the internet a few years ago and they've all been diverging since:</p>
  <ul class="dotted-list">
    <li>
      dorm.social (Fedi)
      <a href="https://dorm.social/@irisnk" rel="me">&#64;irisnk</a>
    </li>
    <li>
      Bluesky:
      <a href="https://bsky.app/profile/irisnk.me">irisnk.me</a>
    </li>
    <li>
      Twitch:
      <a href="https://www.twitch.tv/nyaambxr">nyaambxr</a>
    </li>
    <li>
      YouTube (personal):
      <a href="https://youtube.com/@love.irisnk">Iris Nkrichronos</a>
    </li>
    <li>
      YouTube (artist):
      <a href="https://www.youtube.com/@madewithzoloft">NK0</a>
    </li>
    <li>
      Spotify (user):
      <a href="https://open.spotify.com/user/31lq4j6dc62hq5vtej75475ph77q">irisnk</a>
    </li>
  </ul>
</section>
