<article class="post h-entry">
  <header class="post-header">
    <h1 class="p-name">U &mdash; underscores</h1>
    <div class="info-container">
      <p class="post-date dt-published">March 20, 2026</p>
      <p class="post-lead p-summary">A review of "U" by underscores</p>
    </div>
  </header>
  <a href="/blog/iou-original.png" target="_blank" rel="noopener">
    <picture>
      <source srcset="/blog/iou.webp" type="image/webp" />
      <img
        ngSrc="/blog/iou-original.png"
        id="preview-img"
        alt="The cover art of U by underscores..."
        width="640"
        height="336" /> </picture
  ></a>
  <hr id="this-is-hell" />

  <section class="e-content">
    <section id="intro" aria-labelledby="h-intro">
      <h2 id="h-intro" class="nth-heading">I get you, April</h2>
      <p>
        But I don't! This album pops. So hard. You finally overcame the <q><cite>Wallsocket</cite></q> themed sophomore
        slump, and brought us your own spin on dance-pop! But U didn't do this for U, U did this for us. And U owned up
        to your I-O-U.
      </p>
      <br />
    </section>

    <section id="progress" aria-labelledby="h-progess">
      <h2 id="h-progess" class="nth-heading">Progress!</h2>
      <p>
        Glad to see we kept the guitars from last album, and improved on them! If the production was a bit lacking and
        generic on <q><cite>Wallsocket</cite></q
        >, here, it feels refreshing.<br />
        This time around, songs - like <q><cite>Tell Me (U Want It)</cite></q> - are mixed to perfection, balancing the
        chaotic instrumentals and the crisp, smooth melodies that April is singing. Syncing her voice to the detailed
        strumming in <q><cite>Bodyfeeling</cite></q
        >, it feels alive and emphasizes her lyrics.<br />
        You can tell she lowkey wanted some of Imogen Heap's nachos with
        <q><cite>The Peace</cite></q
        >.<br />
        Those vocal chops are giving A. G. Cook, they're weird at the start but they quickly will settle down in your
        head as an earworm... which makes for a perfect metaphor on a song that's about smoking cigarettes, and the
        conflict of someone in your life being off them!
      </p>
      <br />
    </section>

    <section id="break" aria-labelledby="h-break">
      <h2 id="h-break" class="nth-heading">Breakdown</h2>
      <p>
        There's a reflection to be had about fame here.<br />
        With her rise to stardom, after marinating in the hyperpop SoundCloud circles, enjoying all that money and
        status might be selfish, but aren't we all stuck in this capitalist system? We're all participating, and
        critiquing is worthless.<br />
        We're all consuming, at the end of the day. And she seems to like the luxury, like the lifestyle, but detest the
        fame, the attention. When she passes away, she wants to be gone, in private, as a human, not as a celebrity. Art
        and artist must remain separate from the human behind the screen, for underscores, at least.<br />
        Having all those eyes on you is scary, it makes you worry about how you're perceived, about personal information
        going outside of your circle, and it's gotten to the point where she feels uncomfortable having hookups! (See:
        <q><cite>Do It</cite></q
        >)
      </p>
      <br />
    </section>

    <section id="pitfalls" aria-labelledby="h-pitfalls">
      <h2 id="h-pitfalls" class="nth-heading">Where is it lacking?</h2>
      <p>
        Hmm. Good question.<br />
        On first listen, <q><cite>Lovefield</cite></q> fell short, but it grew on me. The production is much better than
        in April's previous projects. Vocal effects are used sparingly and tastefully (I hear you, Ableton Corpus!), but
        sometimes the mix can get cluttered and overwhelming, like in <q><cite>Bodyfeeling</cite></q
        >, which kind of sucks, since I otherwise like that track.<br />
        The lack of a team behind underscores is beginning to hinder her abilities, I think.<br />
        This album is an 8.5, being fully honest with you, but it could be so, so much more, and that hurts!
        <q><cite>Innuendo (I Get U)</cite></q> and <q><cite>Tell Me (U Want It)</cite></q> are such catchy tracks, and
        throughout this project, if you can tolerate the lackluster lyricism, cliché rhymes, and sometimes generic
        choruses, you'll find nothing but bangers!<br />
        This is a good, no, GREAT album! But she can do better, hence the rating.<br />
        So go ahead and enjoy it!
      </p>
      <br />
      <p>Rating: <strong>8.5</strong>/10 &mdash; Almost there!</p>
    </section>
  </section>
  <br />
  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
</article>
