<section class="info column center h-card">
  <h2>Profiles</h2>
  <p>My clones got lost in the internet a few years ago and they've all been diverging since:</p>
  <ul class="dotted-list">
    <li>
      YouTube:
      <a href="https://youtube.com/@irisnkr" rel="me" class="u-url">Iris Nkrichronos</a>
    </li>
    <li>
      YouTube:
      <a href="https://www.youtube.com/@self.irisnk" rel="me" class="u-url">NK0</a>
    </li>
    <li>
      SoundCloud:
      <a href="https://soundcloud.com/irisnk" rel="me" class="u-url">Iris Nkrichronos</a>
    </li>
    <li>
      Bandcamp:
      <a href="https://nkrichronos.bandcamp.com" rel="me" class="u-url">the NKRICHRONOS archive</a>
    </li>
    <li>
      NameMC:
      <a href="https://namemc.com/profile/strandedonline" rel="me" class="u-url">strandedonline</a>
    </li>
    <li>
      Twitch:
      <a href="https://www.twitch.tv/strandedonline" rel="me" class="u-url">strandedonline</a>
    </li>
  </ul>
</section>
