<section class="info column center h-card">
  <h2>Profiles</h2>
  <p>My clones got lost in the internet a few years ago and they've all been diverging since:</p>
  <ul class="dotted-list">
    <li class="youtube">
      <span>YouTube:
      <a href="https://youtube.com/@irisnkr" rel="me" class="u-url">Iris Nkrichronos</a></span>
    </li>
    <li class="youtube">
      <span>YouTube:
      <a href="https://www.youtube.com/@self.irisnk" rel="me" class="u-url">NK0</a></span>
    </li>
    <li class="soundcloud">
      <span>SoundCloud:
      <a href="https://soundcloud.com/irisnk" rel="me" class="u-url">Iris Nkrichronos</a></span>
    </li>
    <li class="bandcamp">
     <span>Bandcamp:
      <a href="https://nkrichronos.bandcamp.com" rel="me" class="u-url">the NKRICHRONOS archive</a></span>
    </li>
    <li class="namemc">
      <span>NameMC:
      <a href="https://namemc.com/profile/strandedonline" rel="me" class="u-url">strandedonline</a>
      </span>
    </li>
    <li class="twitch">
      <span>Twitch:
      <a href="https://www.twitch.tv/strandedonline" rel="me" class="u-url">strandedonline</a></span>
    </li>
  </ul>
</section>
