<article class="post h-entry">
  <header class="post-header">
    <h1 class="p-name">because the internet</h1>
    <div class="info-container">
      <p class="post-date dt-published">September 5, 2026</p>
      <p class="post-lead p-summary">too much // sensitive topics</p>
    </div>
  </header>
    <hr />
  <section class="e-content">
    <section id="main-content" aria-labelledby="p-name">
      <p>
        It demands I share.<br />
        Those around me, they need to know what I think.<br />
        <br /><br />
        I must perform on this stage, fit in with the trends, show support for things I barely know about.<br />
        <br /><br />
        We all have to<br />
        engage and engage<br />
        and share <br />
        and reply<br />
        and like<br />
        and hate<br />
        and make fun of<br />
        and follow<br />
        and buy<br />
        and look up<br />
        and sign in<br />
        and accept cookies<br />
        and smash the bell.<br />
        <br />
        We've gone post knowledge in a way.<br />
        We know about adrenaline and serotonin and dopamine, we know about the studies, the algorithms, the echo
        chambers, the suicide rate.<br />

        We know the internet plays us, yet we still choose to play with it.<br />
        <br />
        We either delude ourselves its effect is not real;<br />
        believe it doesn't affect US, but those other weaker minded people, and we're above it;<br />
        or give in and reap the hollow rewards of addiction<br />
        <br />

        <figure>
          <blockquote>
            <p>
              <q>They're farming our attention like are you people?</q>
            </p>
          </blockquote>
          <figcaption>
            &mdash;
            <cite> <a class="source" href="https://genius.com/27413624">5g - brakence</a></cite>
          </figcaption>
        </figure>

        <br />
        Why say anything true?<br />
        <br />
        A world of fiction is much more enticing and polarizing.<br />
        Who cares about the effect it has on politics, real people, hate, riots.<br />
        Pump the stories out, label them as news.<br />
        Put that person's gender and race before their age, name and crime.<br />
        Yeah, that'll get clicks, that's a good headline.<br />
        Let's warp this latest statement to be even more inflammatory, let's make more people feel in danger.<br />
        We need more likes.<br />
        <br />
        A trick as old as the printed press itself!<br />
        <br />
        Now in your palm and your pocket, in your ears and specifically tailored for whatever flavour of hatred, deep
        rooted insecurity or bias within you<br />
        <br />
        Of course, the shooter was from your opposing political party, they had your opposing ideology.<br />
        <br />
        Still can never afford to own a house.<br />
        Living paycheck to paycheck off the cheapest available groceries.<br />
        Maybe I should stake my money on Polymarket. Maybe I should gamble it on Stake. That's gonna help me escape
        poverty.<br />
        Poverty caused your brethren and not those in power, of course. What wealth inequality? They earned it!<br />
        Oh, hey, 8$ a month, and you can make money off your posts.<br />
        <br />
        Is that real or is that ragebait?<br />
        <br />
        Blue checks are hidden now.<br />
        <br />
        Wait, new video uploaded, <em>"The [...] situation is crazy"</em><br />
        I gotta watch that.<br />
        <br />
        And we call AI's output "slop" as if we humans haven't been making slop since forever.<br />
        <br />
        These machines simply amplify its production and reach.<br />
        <br />
        Did that happen?<br />
        Did he say that?<br />
        Is that real?<br />
        Oh it's not? Well he would do it anyways. I don't care.<br />
        Why does this exist?<br />
        Are those children crying from this current bombing or one that happened three years ago?<br />
        <br />
        Humans hate feeling uncomfortable.<br />
        <br />
        That's why they reject the different, they run from boredom, they develop routine.<br />
        <br />
        Mass produced community.<br />
        <br />
        Lonely?<br />
        <br />
        The internet is the problem and the cure.<br />
        <br />
        Sad?<br />
        <br />
        The internet is the problem and the cure.<br />
        <br />
        Develop a fixation with self-harm<br />
        Develop a substance addiction<br />
        Develop a porn addiction<br />
        Dehumanize your peers<br />
        Get radicalized into extremist groups<br />
        Learn 4chan slurs from Twitter<br />
        Adopt QAnon beliefs from Twitter<br />
        Feel alienated by everybody<br />
        Feel better than everybody<br />
        Get on the internet.<br />
        <br />
        Your attention is most profitable.<br />
        <br />
        Our advertisers know everything about you.<br />
        <br />
        We'll craft a perfect stream of content to engage you, content you hate, tolerate, people you like, lies about
        those you love, whatever it takes to sell you something.<br />
        All your interactions are monitored and sold to the highest bidder. Sometimes this includes model training.<br />
        <br />
        But you can make Grok undress your ex! Isn't it worth it?<br />
        Share what game you're playing through Discord, help us sell you things. Let us read all your unencrypted
        messages.<br />
        <br />
        You think you're safe?<br />
        You think it's just the Internet?<br />
        Humanity has been operating this way for millenia.<br />
        <br />
        Lying and portraying oneself as the good guy is not a new thing. The extent to which lies affect people is
        unprecedented, due to the polarization and instantaneous spread that social media has given us.<br />
        <br />
        You think any of these issues would be nonexistent without the Internet?<br />
        It is merely what the telegraph was to communication.<br />
        Instantaneous access to everything all of the time.<br />
        <br />
        Nothing is novel.<br />
        Nothing got reinvented or is transformative about the current situation.<br />
        <br />
        It's not this amorphous blob.<br />
        It's not the Internet, or the format, but the companies that run these services, the people in charge, those
        that want civil unrest, that want queer infighting, that want us to be distracted.<br />
        <br />
        Look to your sides and you'll see people just like you.<br />
        Look above you, and you'll see pigs, with more money than you'll ever make in a million lifetimes.<br />
        <br />
        They want us to debate about human rights to distract us.<br />
        <br />
        We are their puppets.<br />
        <br />
        They want you uneducated, hateful, easy to shape.<br />
        <br />
        So love.
        <br />
        Love your straight and queer and cis and trans and latino and asian and black and white and atheist and
        christian and jewish and muslim and FUCK ALL THE LABELS, love ALL your siblings, your fellow people.<br />
        Forgive them all. Unite and riot.<br />
        For a future that sucks less, where we're all equals.<br />
        Where we're not hopelessly angry, depressed, pitted against one another for personal gain be it status or
        money.<br />
        <br />
        <b>Love.</b><br />
        <br />
        And overthrow the government of the rich few.<br /> </p
    ></section>
  </section>
  <br />
  <br />
  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
  <br />
  <br />
</article>
