<article class="post h-entry">
  <header class="post-header">
    <h1 class="p-name">The Claudening</h1>
    <div class="info-container">
      <p class="post-date dt-published">August 23, 2026</p>
      <p class="post-lead p-summary">Frog's a-boilin'.</p>
    </div>
  </header>
  <hr />

  <section class="e-content">
    <section id="post" aria-labelledby="p-name">
      I have noticed an increasing amount of people whose "Anthropic employee friends" gift them 2-6 months of the "Max"
      plan to get them hooked.<br />
      Once in, they buy their own ChatGPT subscription, subscribe to Theo T3, write slop using Claude Code, and even get
      stressed by token limits, trying their best to consume them all before they reset but also not end up without
      tokens.<br /><br />
      Now, I've always been opposed to these machines, and I thought the sentiment mainly stayed the same if not got
      worse as time went on, but it turns out I grossly overestimated the average person's object persistence.<br /><br />
      As soon as you hang a free subscription in front off someone, they'll bite, and start saying stuff like: "It's
      really damn useful," but is it really?<br />
      Maybe if you don't know how to write or how to code and really, really don't care about learning.<br />
      But for everyone else, I beg you, keep those neurons firing and don't turn into a slop machine pulling dopamine
      addict.<br />
      From that one time Fedi went nuts over slop-generated sprite companions for Codex to this current mess I've seen
      people I saw as friends get into...<br /><br />
      I'll always be part of the human resistance.<br /><br />
      Now more than ever we need humans to keep their skills, to sharpen them, to prove to these companies selling us
      tokens to spin a stochastic parrot's random number generator that mankind has something they'll never have:
      feelings, intelligence, creativity, the ability to make art, and to connect with people.<br />
      If you need to churn out a webpage edit or use these machines to make a living, I pity you, and this is not about
      you.<br />
      If your employer forces you to "tokenmaxx" and evaluates your productivity on how fast you burn through tokens, I
      understand, but if you have a choice, please don't do this to yourself.<br />
      I know there's always forces above us, stronger than us.<br />
      This is about mental replacement, substituting with chance what we can do with our minds.<br />
      Please, don't let your brain rust.<br /><br />

      Another aspect that's been fucking with me is not just the mental replacement, job displacement and addiction, but
      the increasing tolerance.<br />
      If a meme is funny enough, most people do not care that it has machine-generated visuals, or that the song has no
      high-end and generic vocals made by Suno.<br />
      If a website works, people overlook its design and accessibility flaws, and if a song is catchy enough, people
      overlook the fact that it was made by a machine.<br /><br />
      From my friend that made an ugly kinklist whose UI was clearly not human-tailored to Fenix Flexin and Tyga
      generating whole 80s "albums" (and that's stretching the definition quite a lot) with this stuff.<br />
      So much of Spotify's top 50 is now AI-generated, and people don't care, especially the average Country and
      Christian music listener.<br />
      I despise all of this. It really gives weight to the word slop. Music has been turned into a commodity, churned
      out and consumed.<br />
      And I hate how many websites and apps are getting redesigns and new features via LLMs, how many people tolerate
      it, and how many people use them.<br /><br />

      The last thing I noticed is how these machines are disproportionately used by people to cut on costs, to avoid
      hiring a human, especially for graphic design.<br />
      Going throughout Italy, some of Germany and the Netherlands I noticed just how much more AI-generated content is
      present in Italy than the others.<br />
      From Fiat Panda ads to pizzerias' pictures on Google Maps, from store logos to social media posts. In a country of
      people predominantly over 40 and with a shrinking middle class, tolerance for laziness and low quality output is
      high.<br /><br />
      I do not want to live in a world where content is divided by high and low quality, where the 1% can afford to hire
      humans and the 99% are forced to use machines.<br />
    </section>
  </section>
  <br />
  <br />
  <a class="back" routerLink="/blog">&lt;- back to the pile</a>
  <br />
  <br />
</article>
