<section class="info center column">
  <h2>Find my code across these instances:</h2>
  <ul class="dotted-list">
    <li>
      git.elrant.team
      <a href="https://git.elrant.team/irisnk/">irisnk</a>
    </li>
    <li>
      GitHub:
      <a href="https://github.com/code-irisnk">code-irisnk</a>
    </li>
    <li>
      git.gay:
      <a href="https://git.gay/irisnk">irisnk</a>
    </li>
    <li>
      GitLab:
      <a href="https://gitlab.com/irisnk">irisnk</a>
    </li>
    <li>
      CodeBerg:
      <a href="https://codeberg.org/irisnk">irisnk</a>
    </li>
    <li>
      SourceHut:
      <a href="https://sr.ht/~irisnk">irisnk</a>
    </li>
  </ul>
  <p>I believe in federation and not putting all my eggs in one basket!</p>
</section>
